.ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1; /* збільште цей значення, якщо потрібно, щоб UI був поверх канвасу */
}

.bullet {
  position: absolute;
  top: 0;
  left: 0;

  margin: 10px;
}

.comets {
  position: absolute;
  top: 5%;
  left: 0;

  margin: 10px;
}

.timer {
  position: absolute;
  top: 0;
  right: 0;

  margin: 10px;
}

.gameStatus {
  font-size: 12vw;

  opacity: 0;

  transition: opacity 0.5s ease;
}

.startGame {
  width: 15vw;
  aspect-ratio: 3;

  font-size: 2.5vw;
  font-weight: 600;

  border: 2px solid black;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.5);

  transition: transform 0.5s;
}

.startGame:active {
  transform: scale(0.8);
}

/* .bossHealth-bar--empty {
  width: 18vw;
  aspect-ratio: 4.5;
  background-color: black;
  background-size: 100% 100%;

  opacity: 0;
}

.bossHealth-bar--full {
  width: 100%;
  height: 100%;
  background-color: aqua;
  background-repeat: no-repeat;
  background-size: 18vw 100%;
  background-position: left;
  aspect-ratio: 5.5;
  overflow: hidden;

  transition: width 0, 25 ease-in-out;
}

.bossHealth-bar--empty.visible {
  opacity: 1;
} */